@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{margin : 0;
font-family:"Quicksand";
color:#333;
}


/* using css for navbar where navbar is class in that file navbar.js */
.navbar{
  padding:20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

/* giving style for navbar h1 tag */
.navbar h1{
  color: #f13578;
}


/* giving color for links */
.navbar .links{
  margin-left: auto;
}

/* for a tag */
.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}


/* when hover mouse on Home and new blog a */
.navbar a:hover{
  color: #f13578;
}

/* giving style to content */
.content{
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}


/* style for blog  preview class which lists all blog name */
.blog-preview{
padding: 10px 16px;
margin: 20px 0;
border-bottom: 1px solid #fafafa;
}

.blog-preview:hover{
box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2{
font-size: 20px;
color: #f13568;
margin-bottom: 8px;
}